body {
  padding: 0;
  margin: 0;
}

#board {
  background-image: url(../images/backgriound.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(161, 71, 40);
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#player {
  background-image: url(../images/player.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  transition: linear 80ms;
}

#enemy0, #enemy1, #enemy2 {
  background-image: url(../images/spaceship.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  transition: linear 100ms;
}

.bullet {
  background-image: url(../images/bullet.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  position: fixed;
  transition: linear 100ms;
}

.meteor {
  background-image: url(../images/meteor.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30%;
  position: fixed;
  transition: linear 100ms;
}

.rock {
  background-image: url(../images/rock.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30%;
  position: fixed;
  transition: linear 100ms;
}

#ground {
  
  height: 10vh;
  width: 100vw;
  position: absolute;
  bottom: 0;
}

#score {
  background-color: rgb(54, 3, 3);
  height: 10vh;
  position: relative;
  text-align: center;
  left: 44%;
  top: 40%;
  font-size: 20px;
  border: 2px solid rgb(233, 106, 15);
  border-radius: 3px;
  color: rgb(243, 13, 13);
}